.before-enter {
  --animationDirection: translateY(80px);
  animation: fade-in 1.4s;

  &__right {
    --animationDirection: translateX(-80px);
  }

  &__left {
    --animationDirection: translateX(80px);
  }
}

@keyframes fade-in {
  from {
    transform: var(--animationDirection);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
