.before-enter {
  &__top {
    opacity: 0;
    &.enter {
      animation: fade-in 1.4s;
      -webkit-animation-fill-mode: forwards;
      --animationDirection: translateY(80px);
    }
  }

  &__right {
    opacity: 0;
    &.enter {
      animation: fade-in 1.4s;
      -webkit-animation-fill-mode: forwards;
      --animationDirection: translateX(-80px);
    }
  }

  &__left {
    opacity: 0;
    &.enter {
      animation: fade-in 1.4s;
      -webkit-animation-fill-mode: forwards;
      --animationDirection: translateX(80px);
    }
  }
}

@keyframes fade-in {
  from {
    transform: var(--animationDirection);
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
