@import './helpers';
@import './typography';
@import './animation';
@import './form';

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-family: $primary-font;
  box-sizing: border-box;

  body {
    margin: 0;
    background-color: set-color('white');
    padding: 0;
    text-rendering: optimizeLegibility;
    line-height: 1.4;
    color: set-color('base');
    font-family: $primary-font;
    font-size: rem-calc(16);
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
  }
}

.main {
  min-height: 100vh;
  background-color: set-color('white');
}

footer,
main,
menu,
nav,
section {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
