$breakpoints: (
  sm: 0,
  md: 600px,
  lg: 900px,
  xl: 1200px,
  xxl: 1600px,
);

$display-breakpoints: (
  sm-only: "only screen and (max-width: #{map-get($breakpoints, 'md') - 1})",
  sm-and-up: "only screen and (min-width: #{map-get($breakpoints, 'sm')})",
  md-only: "only screen and (min-width: #{map-get($breakpoints, 'md') - 1}) and (max-width: #{map-get($breakpoints, 'lg') - 1})",
  md-and-down: "only screen and (max-width: #{map-get($breakpoints, 'lg') - 1})",
  md-and-up: "only screen and (min-width: #{map-get($breakpoints, 'md')})",
  lg-only: "only screen and (min-width: #{map-get($breakpoints, 'lg') - 1}) and (max-width: #{map-get($breakpoints, 'xl') - 1})",
  lg-and-down: "only screen and (min-width: #{map-get($breakpoints, 'xl') - 1})",
  lg-and-up: "only screen and (min-width: #{map-get($breakpoints, 'lg')})",
  xl-only: "only screen and (min-width: #{map-get($breakpoints, 'xl') - 1}) and (max-width: #{map-get($breakpoints, 'xxl') - 1})",
  xl-and-down: "only screen and (max-width: #{map-get($breakpoints, 'xxl') - 1})",
  xl-and-up: "only screen and (min-width: #{map-get($breakpoints, 'xl')})",
  xxl-only: "only screen and (min-width: #{map-get($breakpoints, 'xxl')})",
);

$grid-gutter: 1rem;
$grid-columns: 12;
$grid-gutters: (
  xs: $grid-gutter / 4,
  sm: $grid-gutter / 2,
  md: $grid-gutter,
  lg: $grid-gutter * 2,
  xl: $grid-gutter * 3,
);

$breakpoints-map: map-keys($breakpoints);

@mixin breakpoint($size) {
  @media #{map-get($display-breakpoints, $size)} {
    @content;
  }
}

@each $breakpoint, $values in $breakpoints {
  .show-for-#{$breakpoint} {
    @if $breakpoint == 'sm' {
      display: block;

      @include breakpoint('#{$breakpoint}-and-up') {
        display: none;
      }
    } @else if $breakpoint == 'xxl' {
      display: none;

      @include breakpoint('#{$breakpoint}-only') {
        display: block;
      }
    } @else {
      display: none;

      @include breakpoint('#{$breakpoint}-and-up') {
        display: block;
      }
    }
  }

  .hide-for-#{$breakpoint} {
    @if $breakpoint == 'xxl' {
      @include breakpoint('#{$breakpoint}-only') {
        display: none;
      }
    } @else {
      @include breakpoint('#{$breakpoint}-and-up') {
        display: none;
      }
    }
  }
}

//Generate Flex Grid
@mixin grid-column-classes() {

}

@include grid-column-classes;
