.button {
  @include transition();
  display: inline-block;
  background: set-color('default');
  cursor: pointer;
  padding: rem-calc(10 25);
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: rem-calc(0.3);
  white-space: nowrap;
  color: set-color('base');
  font-family: $primary-font;
  font-size: rem-calc(16);
  font-weight: 700;

  &--small {
    padding: rem-calc(5 15);
  }

  &--medium {
    padding: rem-calc(10 25);
  }

  &--large {
    padding: rem-calc(15 35);
  }

  &--pill {
    border-radius: rem-calc(100);
  }

  &--submit {
    background: set-color('success');
  }

  &--primary {
    color: set-color('white');
    background: set-color('primary-solid');

    &__gradient {
      @include transition();
      color: set-color('white');
      background: set-color('primary-gradient');
      background-size: 100% 100%;

      &:hover,
      &:focus {
        background-size: 500% 100%;
      }
    }
  }

  &--text {
    @include transition();
    font-size: rem-calc(14);
    text-transform: uppercase;

    @include breakpoint('md-and-up') {
      font-size: rem-calc(16);
    }

    &:hover,
    &:focus {
      background-size: 500% 100%;
    }
  }
}
